body {
    font-family: 'Montserrat', sans-serif;
    background: #666;
}
.main {
    max-width: 1080px;
    min-width: 200px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}
.main h1 {
    text-align: center;
    border-bottom: 1px solid #999;
    margin: 15px 15px 30px 15px;
    padding: 15px;
    font-size: 30px;
}
#lazyImgContainer {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: center;
}
#lazyImgContainer li {
    list-style-type: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
#lazyImgContainer img {
    height: 100%; 
    width: 100%;
}
.lds-roller {
    display: inline-block;
    position: relative;
    margin: 30px auto;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #ccc;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    #lazyImgContainer {
        grid-template-columns: repeat(3, 30%);
    }
}

@media only screen and (max-width: 568px) {
    .main h1 {
        margin: 0 0 010px 0;
        font-size: 20px;
    }
    #lazyImgContainer {
        grid-template-columns: repeat(2, 45%);
    }
}

@media only screen and (max-width: 320px) {
    .main h1 {
        margin: 0 0 010px 0;
        font-size: 20px;
    }
    #lazyImgContainer {
        grid-template-columns: 1fr;
    }
}

